@{
    ViewData["Title"] = "Blackjack Tracker";
}

<div class="container">
    <article class="article-bj-tracker">
        <div class="text-center">
            <h1 class="heading-1 display-4">Blackjack Tracker</h1>
            <p class="paragraph">Learn how to track and manage your Blackjack Sessions in the <a href="https://localhost:44330/Sessions">Sessions</a> Tab.</p>
        </div>
        <br />
        <div>
            <h2 class="heading-2">Section Heading</h2>
            <p class="paragraph">Example of paragraph</p>
        </div>
    </article>

    <article class="article-content">
        <div class="text-center">
            <h1 class="heading-1 display-4">Blackjack App</h1>
            <p class="paragraph">Manage your sessions effectively in the <a href="https://localhost:44330/Sessions">Sessions</a> Tab.</p>
        </div>
        <br />
        <div>
            <h2 class="heading-2">Another Section</h2>
            <p class="paragraph">This article has a transparent background allowing more of the background image to show through.</p>
        </div>
    </article>
</div>
